.navbar-brand {
    color: #000;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-nav {
    justify-content: center;
    margin-left: 310px;
}

.nav-item {
    margin-right: 60px;
}

.nav-link{
    font-weight: bold;
}

.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #fcda55;
}

.dropdown-submenu1 {
    display: none;                                 /*안보이게*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);      /*박스에 그림자를 준다.*/
    width: 200px;
    text-align: center;
  }

  .dropdown-submenu1 a {
    display: block;                               /*세로로 일렬로 나열*/
  }
  
  /* dropdown에 hover가 되면 -> dropdown-submenu에서 무언가가 실행 */
  /* hover다음에 나오는 요소는 자식요소여야 함 */
  .dropdown:hover .dropdown-submenu1 {
    display: block;
  }

.btn-secondary{
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
} 

.btn-secondary:hover{
    background: none;
    border: none;
}